* {
    background-color: lightslategray;
    font-family: Arial, serif;
    color: white;
    /*border: 1px solid red;*/
}

h1 {
    color: black;

    background-color: burlywood;
    margin: 0px;
    padding: 8px;
}

h2 {
    color: black;
    text-decoration: underline;
    margin: 16px;

}

img.cat {
    width: 200px;
    height: auto;
    margin: 16px;
    border: 4px;
    border-color: black;
    display: inline-block;
}

img {
    padding: 8px;
    width: 200px;
    height: 200px;
    background-color: white;
}

button, button a {
    background-color: burlywood;
    font-size: 18px;
    margin: 8px;
}


ul.recipe-list {
    display: flex;
    list-style: none;
    
}

li.recipe-link {
    padding: 16px;
    box-sizing: border-box;
    height: 100px;
    width: 250px;
    margin: 16px;
    background-color: burlywood;
    text-align: center;
    border-color: black;
    border: 4px solid black;
}

a {
    background-color: burlywood;
    color: white;
    text-decoration: none;
    font-size: 32px;
}

html {
    margin: 0px;
    border: 16px solid black;
    border: 16px solid black;
}

p.intro {
    display: inline-block;
    font-size: 24px;
    padding: 16px;
    background-color: white;
    color: black;
}

div.intro-box {
    display: flex;
    background-color: white;

}

div.desc, div.desc h2, div.desc p, div.desc p b  {
    background-color: white;
    color: black;
}

p, ol, ul {
    font-size: 18px;
    margin: 16px;
}

li h3 {
    color: maroon;

}

i {
    padding-left: 32px;
    color: burlywood;
}